/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full screen height */
    flex-direction: column; /* Stack everything in a column */
}

.container {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack child elements in a column */
    justify-content: center;
    align-items: center;
}

.headingLogin {
    margin-bottom: 20px;
}

.login {
    width: 100%;
}

.login-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center; /* Aligns items vertically */
}

.form-group label {
    width: 35%; /* Increased width to fit longer labels */
    text-align: right;
    padding-right: 10px;
    white-space: nowrap; /* Prevents label text from wrapping to a new line */
    font-size: 0.9rem; /* Slightly smaller font size to fit */
}

.form-group input {
    width: 60%; /* Adjusted width for inputs */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-login {
    background-color: #f39c12;
    color: #fff;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.1rem;
    display: inline-block;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn-login:hover {
    background-color: #e67e22;
}
