/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full screen height */
    flex-direction: column; /* Stack everything in a column */
}

.headingContact {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack child elements in a column */
    justify-content: center;
    align-items: center;
}

/* Header & Navigation */
.header {
    background-color: #333;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: #fff;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.nav-links a:hover {
    background-color: #f39c12;
    border: 2px solid #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}
.login {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

.login-grid {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.login-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Centering the form */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-login {
    background-color: #f39c12;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1.1rem;
    display: inline-block;
    border-radius: 5px;
    border: none;
    outline: none;
}

/* Button Styles */
.btn-primary, .btn-secondary {
    padding: 10px 20px;
    font-size: 1.1rem;
    display: inline-block;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn-primary {
    background-color: #f39c12;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: #e67e22;
    text-decoration: none;
}

.btn-secondary {
    margin: 10px;
    color: #fff;
    background-color: rgb(38, 109, 185);
}

.btn-secondary:hover {
    background-color: rgb(255, 255, 255);
}
